@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Koulen&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
  }

  body{
    overflow-x: hidden;
    background: #000000;
  }

  body.activeLD{
    background: #fff;
  }

  header{
    display: flex;
    width: 100%;
  }

  a{
    color: #af126d;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
  }

  a:hover {
    opacity: 0.5;
  }

  .logo {
    text-transform: none;
    font-size: 2.5rem;
    letter-spacing: 3px;
    font-family: 'Dancing Script', cursive;
    color: #ffffff;
    text-shadow: 1px 1px 2px #444344;
    margin-right: 20%;
  }

  .logo.activeLD{
    color: #000;
    text-shadow: 1px 1px 2px #797979;
  }

  nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background-color: #000000;
    height: 8vh;
    width: 85%;
  }

  nav.activeLD{
    background-color: #fff;
  }

  .nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 10%;
  }

  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }

  #contact{
    padding: 8px 12px;
    background-color: #2c2b2b;
    border-radius: 4px;
  }

  .mobile-menu {
    display: none;
    cursor: pointer;
  }

  .line1, .line2, .line3 {
    width: 32px;
    height: 2px;
    background: #ffffff;
    margin: 8px;
    transition: 0.3s;
  }

  .line1.activeLD{
    background: #000;
  }

  .line2.activeLD{
    background: #000;
  }

  .line3.activeLD{
    background: #000;
  }

  .nav-list.active {
    transform: translateX(0);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }

  .mobile-menu.active .line2 {
    opacity: 0;
  }

  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  .icons-wrapper{
    display: none;
  }

  .btn-ld-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
    transition: background .5s;
  }

  .btn-ld{
    width: 45px;
    height: 16px;
    border: 1px solid #fff;
    border-radius: 11px;
    position: relative;
    cursor:pointer;
  }

  .btn-ld.activeLD{
    border: 1px solid #000;
  }

  .btn-ld:before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50%;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    transition: left .5s;
  }

  .btn-ld.activeLD:before{
    left: 28px;
    background-color: black;
  }

  .text-light{
    color: #fff;
    font-size: 0.5rem;
    display: flex;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
  }
  .text-light.activeLD{
    display: none;
  }

  .text-dark{
    color: #000;
    font-size: 0.5rem;
    display: none;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
  }
  .text-dark.activeLD{
    display: flex;
  }

  .titulo{
    color: #ffffff;
    margin-top: 100px;
    margin-left: 15%;
    width: 25%;
    font-size: 2rem;
    font-family: 'Koulen', cursive;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 30px;
  }

  .titulo.activeLD{
    color: #000;
  }

  .subtitle{
    color: #d48db7;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    text-align: right;
    margin-top: 50px;
    margin-right: 10%;
    margin-left: 70%;
    width: 20%;
  }

  .subtitle.activeLD{
    color: #af126d;
  }

  .carousel-jogos{
    margin-top: 100px;
  }

  .img-wrapper{
    height: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  #sobre{
    display: flex;
    width: 100%;
    margin-top: 150px;
    align-items: center;
  }

  .sobre-txt{
    color: #e6c7d9;
    width: 50%;
    margin-left: 10%;
    margin-right: 5%;
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
  }

  .sobre-txt.activeLD{
    color: #2e2e2e;
  }

  .img-sobre{
    width: 30%;
    margin-right: 5%;
    height: 200px;
    object-fit: cover;
  }

  .img-sobre img{
    width: auto;
    max-height: 200px;
  }

  #servicos{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 200px;
  }

  .img-servicos{
    width: 30%;
    height: 200px;
    display: flex;
    justify-content: flex-end;
  }

  .img-servicos img{
    object-fit: cover;
    width: auto;
    max-height: 200px;
  }

  .servicos-txt{
    color: #e6c7d9;
    width: 55%;
    margin-left: 5%;
    margin-right: 10%;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
  }

  .servicos-txt.activeLD {
    color: #2e2e2e;
  }

  #formulario{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    margin-right: 35%;
    margin-left: 35%;
    margin-bottom: 150px;
    padding: 7px;
  }

  .form-title{
    color: #ecebe8;
    text-align: center;
    margin-bottom: 20px;
  }

  .form-title.activeLD{
    color: #000;
  }


  #alert{
    background-color: #f0c0c0;
    border: 1px solid #9c1b1b;
    width: auto;
    padding: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.9rem;
    display: none;
  }

  .form-label1, .form-label2, .form-label3, .form-label4{
    color: white;
    font-size: 1rem;
    margin-bottom: 6px;
    margin-top: 14px;
    font-family: 'Roboto', sans-serif;
  }

  .form-label1.activeLD{
    color: #000;
  }
  .form-label2.activeLD{
    color: #000;
  }
  .form-label3.activeLD{
    color: #000;
  }
  .form-label4.activeLD{
    color: #000;
  }

  .form-input1, .form-input2, .form-input3, .form-input4{
    width: auto;
    height: 35px;
    background-color: #000000;
    border-right: none;
    border-top: none;
    border-left: none;
    border-color: #3f3e3e;
    border-bottom-style: dashed;
    cursor: pointer;
    color: #c8c0c0;
  }

  .form-input1.activeLD{
    background-color: #fff;
    border-color: #000;
    color: #000000;
  }
  .form-input2.activeLD{
    background-color: #fff;
    border-color: #000;
    color: #000000;
  }
  .form-input3.activeLD{
    background-color: #fff;
    border-color: #000;
    color: #000000;
  }
  .form-input4.activeLD{
    background-color: #fff;
    border-color: #000;
    color: #000000;
  }

  .form-input1,.form-input2,.form-input3,.form-input4:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
  }

  .btn-submit{
    text-transform: uppercase;
    color: #cbc1c1;
    background-color: #2c2c2c;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    font-size: 1.1rem;
    cursor: pointer;
    width: auto;
    padding: 8px;
  }

  .btn-submit:hover{
    opacity: 0.5;
    transition: 0.3s;
  }

  .btn-submit.activeLD{
    background-color: #fff;
    color: #2e2e2e;
  }

  #show-formulario{
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    color: #d48db7;
    margin-top: 300px;
    margin-bottom: 300px;
    transition: 2s;
    width: 50%;
    margin-left: 25;
    margin-right: 25%;
    height: 300px;
    border: 2px solid #d48db7;
    transition: border 1s;
  }

  #show-formulario p{
    margin: 15%;
  }

  #rodape{
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-icons-wrapper{
    display: flex;
    width: 15%;
    justify-content: space-around;
  }

  .footer-icons-wrapper i{
    font-size: 25px;
  }

  .rodape-txt{
    color: #f4f4f4;
    margin-top: 15px;
  }

  .rodape-txt.activeLD{
    color: #000;
  }




